@charset "utf-8";
.titleArea {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: var(--2px-border);
    .title {
        font-size: 33px;
        font-weight: 600;
        line-height: 1;
    }
    .sub {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
