@charset "utf-8";
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 196px;
    height: 42px;
    min-width: 110px;
    padding: 0 15px;
    p {
        color: #a3a3a3;
    }
    .icon {
        width: 16px;
        height: 100%;
        background-image: url('https://milvus.co.kr/image/cafe24/icon_search.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
