@charset "utf-8";
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    height: 42px;
    min-width: 110px;
    padding: 0 15px;
    .icon {
        display: none;
        width: 16px;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.delete {
        .icon {
            display: block;
            background-image: url('https://milvus.co.kr/image/cafe24/icon_delete.png');
        }
    }
    &.edit {
        .icon {
            display: block;
            background-image: url('https://milvus.co.kr/image/cafe24/icon_pen.png');
        }
    }
    &.default {
        background-color: #fafafa;
    }
}
