@charset "utf-8";
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  height: 42px;
  min-width: 110px;
  padding: 0 15px;
}
.btn .icon {
  display: none;
  width: 16px;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn.delete .icon {
  display: block;
  background-image: url('https://milvus.co.kr/image/cafe24/icon_delete.png');
}
.btn.edit .icon {
  display: block;
  background-image: url('https://milvus.co.kr/image/cafe24/icon_pen.png');
}
.btn.default {
  background-color: #fafafa;
}
