@charset "utf-8";
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100vh;
  border-right: var(--grey-border);
}
.aside h1.logo {
  padding: 42px 0;
}
.aside h1.logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.aside h1.logo a span {
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-color);
}
.aside .tab {
  width: 100%;
}
.aside .tab li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 30px;
  font-weight: 600;
  cursor: pointer;
}
.aside .tab li.active {
  background-color: #e8f5fc;
  color: var(--sf-color);
}
.aside .tab li:hover {
  background-color: #e8f5fc;
}
.aside .tab li .icon {
  display: flex;
  justify-content: center;
  min-width: 24px;
}
