@charset "utf-8";
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 100vh;
    border-right: var(--grey-border);
    h1 {
        &.logo {
            // height: 199px;
            padding: 42px 0;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 23px;
                span {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--grey-color);
                }
            }
        }
    }
    .tab {
        width: 100%;
        li {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 14px 30px;
            font-weight: 600;
            cursor: pointer;
            &.active {
                background-color: #e8f5fc;
                color: var(--sf-color);
            }
            &:hover {
                background-color: #e8f5fc;
            }
            .icon {
                display: flex;
                justify-content: center;
                min-width: 24px;
            }
        }
    }
}
