@charset "utf-8";
:root {
    /* Color */
    --grey-color: #999999;
    --light-grey-color: #fafafa;
    --sf-color: #21a0df;
    --green-color: #86bb60;
    --orange-color: #ec897e;

    /* Border */
    --grey-border: 1px solid #dddddd;
    --1px-border: 1px solid #e4e4e4;
    --2px-border: 2px solid #e4e4e4;
}

.App {
    display: flex;
}
.box {
    border: var(--1px-border);
}
.flex {
    display: flex;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    width: calc(100% - 260px);
}
.container {
    /* height: calc(100% - 80px); */
    padding: 36px 50px 20px;
}
