@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    color: inherit;
}
*,
::after,
::before {
    box-sizing: border-box;
    flex-shrink: 0;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}
abbr,
blockquote,
figure,
body,
button,
code,
dl,
dt,
dd,
div,
form,
fieldset,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
input,
textarea,
ol,
ul,
li,
p,
pre,
select,
table,
thead,
tbody,
tfoot,
th,
td,
menu {
    padding: 0;
    margin: 0;
}
fieldset,
img,
picture {
    border: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
dl,
menu,
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}
address,
em,
i,
dfn,
var,
cite {
    font-style: normal;
}
code {
    font-family: inherit;
}
mark {
    background-color: transparent;
}
input,
textarea,
button,
select {
    vertical-align: middle;
}
input,
textarea,
button {
    border-radius: 0;
    border: 0;
    outline: 0;
}
textarea {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
    resize: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
}
a,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
iframe {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
}
/* 해당 요소 추가 시 스크립트 필수 */
/* input[type=search]::-webkit-search-cancel-button {appearance: none;} */
/* 프로젝트에 따라 유동적으로 변경시킬 요소 */
body,
button,
input,
select,
table,
textarea {
    font-size: 16px;
    line-height: 1;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
textarea {
    line-height: 1.25;
}

td,
div,
p,
li,
dt,
dd,
input,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
pre {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #111;
}

/* Input 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
