@charset "utf-8";
.listArea {
    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #d6d6d6;
        padding-bottom: 20px;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            height: 55px;
            border-bottom: var(--1px-border);
            & > div {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 214px;
                height: 100%;
                font-size: 14px;
                font-weight: 400;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: #ebebeb;
                }
            }
            &.column {
                height: 40px;
                background-color: var(--light-grey-color);
                .name {
                    justify-content: center;
                }
                .createDate,
                .updatedDate,
                .status {
                    gap: 10px;
                    cursor: pointer;
                    .icon {
                        width: 10px;
                        height: 100%;
                        background-image: url('https://milvus.co.kr/image/cafe24/icon_list.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .checkBox {
                width: 56px;
                background-image: url('https://milvus.co.kr/image/cafe24/icon_checkbox.png');
                background-repeat: no-repeat;
                background-position: center;
                &.active {
                    background-image: url('https://milvus.co.kr/image/cafe24/icon_checkbox_active.png');
                }
            }
            .name {
                flex-grow: 1;
                justify-content: flex-start;
                padding: 0 20px;
            }
            .type {
                background-repeat: no-repeat;
                background-position: center;
                background-size: inherit;
                &.cafe24 {
                    background-image: url('https://milvus.co.kr/image/cafe24/logo_cafe24.png');
                }
                &.mce {
                    background-image: url('https://milvus.co.kr/image/cafe24/logo_mce.png');
                }
            }
            .status {
                .box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 33px;
                    font-size: 14px;
                    font-weight: 400;
                    &.verified {
                        color: var(--green-color);
                        border: 1px solid var(--green-color);
                    }
                    &.failed {
                        color: var(--orange-color);
                        border: 1px solid var(--orange-color);
                    }
                }
            }
        }
    }
    .pasingArea {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .pasingNum {
            font-size: 14px;
        }
        .box {
            width: 33px;
            height: 33px;
            background-image: url('https://milvus.co.kr/image/cafe24/icon_arrow_right.png');
            background-repeat: no-repeat;
            background-position: center;
            padding: 0;
            &.prev {
                transform: rotate(-180deg);
            }
            &.active {
                background-image: url('https://milvus.co.kr/image/cafe24/icon_arrow_right_active.png');
            }
        }
    }
}
