@charset "utf-8";
.listArea ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #d6d6d6;
  padding-bottom: 20px;
}
.listArea ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 55px;
  border-bottom: var(--1px-border);
}
.listArea ul li > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}
.listArea ul li > div::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ebebeb;
}
.listArea ul li.column {
  height: 40px;
  background-color: var(--light-grey-color);
}
.listArea ul li.column .name {
  justify-content: center;
}
.listArea ul li.column .createDate,
.listArea ul li.column .updatedDate,
.listArea ul li.column .status {
  gap: 10px;
  cursor: pointer;
}
.listArea ul li.column .createDate .icon,
.listArea ul li.column .updatedDate .icon,
.listArea ul li.column .status .icon {
  width: 10px;
  height: 100%;
  background-image: url('https://milvus.co.kr/image/cafe24/icon_list.png');
  background-repeat: no-repeat;
  background-position: center;
}
.listArea ul li .checkBox {
  width: 56px;
  background-image: url('https://milvus.co.kr/image/cafe24/icon_checkbox.png');
  background-repeat: no-repeat;
  background-position: center;
}
.listArea ul li .checkBox.active {
  background-image: url('https://milvus.co.kr/image/cafe24/icon_checkbox_active.png');
}
.listArea ul li .name {
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0 20px;
}
.listArea ul li .type {
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
}
.listArea ul li .type.cafe24 {
  background-image: url('https://milvus.co.kr/image/cafe24/logo_cafe24.png');
}
.listArea ul li .type.mce {
  background-image: url('https://milvus.co.kr/image/cafe24/logo_mce.png');
}
.listArea ul li .status .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 33px;
  font-size: 14px;
  font-weight: 400;
}
.listArea ul li .status .box.verified {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}
.listArea ul li .status .box.failed {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.listArea .pasingArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.listArea .pasingArea .pasingNum {
  font-size: 14px;
}
.listArea .pasingArea .box {
  width: 33px;
  height: 33px;
  background-image: url('https://milvus.co.kr/image/cafe24/icon_arrow_right.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.listArea .pasingArea .box.prev {
  transform: rotate(-180deg);
}
.listArea .pasingArea .box.active {
  background-image: url('https://milvus.co.kr/image/cafe24/icon_arrow_right_active.png');
}
